.container {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  width: 20rem;
  border-radius: 2rem;
  box-shadow: rgba(244, 162, 97, 0.2) 0px 8px 24px;
}

@media only screen and (min-width: 900px) {
  .container {
    width: 40rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 30rem;
  }
}
